<center><div id="<%= dom_id event %>">
  <p>
    <strong>Concours:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Epreuves:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>Nombre de jours:</strong>
    <%= event.duration %>
  </p>

  <p>
    <strong>Prix de l'engagement:</strong>
    <%= event.price %>
  </p>

  <p>
    <strong>Lieu:</strong>
    <%= event.location %>
  </p>

</div></center>
