
<% content_for :title do %>
  Liste des événements
<% end %>

<% content_for :keywords do %>
  événements, liste, dates, titres
<% end %>

<% content_for :description do %>
  Découvrez notre liste d'événements avec leurs dates et titres.
<% end %>

<% if current_spree_user.present? && current_spree_user.admin? %>
  <%= link_to "Nouveau concours", new_admin_event_path %>
<% end %>

<% content_for :content do %>
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date</th>
        <% if current_spree_user.present? && current_spree_user.admin? %>
          <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.strat_date %></td>
          <% if current_spree_user.present? && current_spree_user.admin? %>
            <td><%= link_to "Modifier", edit_admin_event_path(event) %></td>
            <td><%= link_to "Supprimer", admin_event_path(event), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce concours ?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

