<% content_for :title do %>
  Liste des événements
<% end %>

<% content_for :keywords do %>
  événements, liste, dates, titres
<% end %>

<% content_for :description do %>
  Découvrez notre liste d'événements avec leurs dates et titres.
<% end %>

<center>
  <% if @events.blank? %>
  <p>Aucun événement trouvé.</p>
  <%= link_to 'Créer', new_admin_event_path(@event), class: 'btn button-primary' %>
  <% else %>
 <div class="card-container">
       <% @events.each do |event| %>
      <div class="card">
        <% if event.image.attached? %>
          <%= image_tag event.image %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to event.title, event %></h5>
            <% if event.start_date.present? %>
              <p class="card-text"><%= event.start_date.strftime("%d/%m/%Y") %></p>
            <else>
              <p class="card-text">Date de début non spécifiée</p>
            <% end %>

            <% if current_spree_user.try(:admin?) %>
            <div class="admin-actions">
              <%= link_to 'Créer', new_admin_event_path(event), class: 'btn button-primary' %>
              <%= link_to 'Modifier', edit_admin_event_path(event), class: 'btn btn-secondary' %>
              <%= link_to 'Supprimer', admin_event_path(event), method: :delete, class: 'btn btn-danger', data: { confirm: 'Êtes-vous sûr de vouloir supprimer cet événement ?' } %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</center>