<header class="header">
  <div class="header__secondary-navigation">
    <%= render 'layouts/top_bar', taxons: taxons, taxon: taxon %>
  </div>
  <div class="header__primary-navigation">
    <div class="category-navigation">
      <% categories = taxonomies.first %>

          <a href="/events">Voir tous les Concours</a>

          <p style="color: green"><%= notice %></p>

          <%= render @event %>

          <div>
            <%= link_to "Modifier ce concours", edit_event_path(@event) %> |
            <%= link_to "Revenir aux autres concours", events_path %>

            <%= button_to "Annuler ce concours", @event, method: :delete %>
          </div>
    </div>
  </div>
