<a href="/events">Voir tous les Concours</a>

<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Modifier ce concours", edit_event_path(@event) %> |
  <%= link_to "Revenir aux autres concours", events_path %>

  <%= button_to "Détruire ce concours", @event, method: :delete %>
</div>
