<h1>Liste des concours</h1>

<div id="Concours">

    <%= render event %>

    <h2>Participants :</h2>
    <ul>
      <% event.attendees.each do |attendee| %>
        <li><%= attendee.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<%= link_to "Modifier le concours", edit_admin_event_path %>
<%= link_to "Annuler le concours", events_destroy_path %>
<%= link_to "Créer concours", edit_admin_event_path %>
<%= link_to "Voir tous les Concours", events_path %>


        <script>
        function authenticate_user() {
          <%= raw("$('#new_user').submit();") %>
        }
        </script>
      </div>


</div>

  </div>