<header class="header">
  <div class="header__secondary-navigation">
            <%= render 'layouts/top_bar', taxons: taxons, taxon: taxon %>
  </div>
  <div class="header__primary-navigation">
     <div class="category-navigation">
              <% categories = taxonomies.first %>

        <h1>Liste des événements</h1>

        <% @events.each do |event| %>
          <h2><%= event.name %></h2>
          <p><%= event.description %></p>
          <p>Date: <%= event.start_time.strftime("%d/%m/%Y") %></p>
          
          <% if user_signed_in? %>
            <% if event.users.include?(current_user) %>
              <%= link_to "Se désinscrire", event_unsubscribe_path(event), method: :delete %>
            <% else %>
              <%= link_to "S'inscrire", event_subscribe_path(event), method: :post %>
            <% end %>
          <% else %>
            <%= link_to "S'inscrire", new_user_registration_path, class: "btn", data: { turbolinks: false }, onClick: "event.preventDefault(); authenticate_user();" %>
            <%= link_to "Se connecter", new_user_session_path %>
          <% end %>
        <% end %>

        <script>
        function authenticate_user() {
          <%= raw("$('#new_user').submit();") %>
        }
        </script>
       </div>
    </div>