<div class="top-bar">
<%= link_to root_path do %>
  <figure class="logo">
    <%= image_tag "poons.png" %>
  </figure>
<% end %>

  <div class="top-bar__search">
    <%= render 'shared/search/search_bar', taxons: taxons, taxon: taxon %>
  </div>

  <% if spree_current_user %>
    <%= link_to I18n.t('spree.my_account'), account_path, class: 'auth-link' %>
  <% else %>
    <%= link_to I18n.t('spree.login'), login_path, class: 'auth-link' %>
  <% end %>

  <div class="cart-link" id="link-to-cart">
    <noscript>
      <%= link_to t('spree.cart'), edit_cart_path %>
    </noscript>
  </div>

<div class="language-selector">
  <a href="#" class="flag-link">
    <img src="path/to/french/flag/image" alt="French flag">
  </a>
  <a href="#" class="flag-link">
    <img src="path/to/english/flag/image" alt="English flag">
  </a>
</div>



  <script>
    Solidus.fetch_cart('<%= j cart_link_path %>')
  </script>
</div>
