<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="top-bar">
      <%= link_to root_path do %>
      <figure class="logo"><%= image_tag "poons.png" %></figure>
      <% end %>

      <div class="top-bar__search">
        <%= render 'shared/search/search_bar', taxons: taxons, taxon: taxon %>
      </div>

      <% if spree_current_user %>
      <%= link_to I18n.t('spree.my_account'), account_path, class: 'auth-link' %>
      <% else %> 
      <%= link_to I18n.t('spree.login'), login_path, class: 'auth-link' %>
      <% end %>

      <div class="cart-link" id="link-to-cart">
           <%= link_to t('spree.cart'), edit_cart_path %> 
      </div>

      <script>
        Solidus.fetch_cart("<%= j cart_link_path %>")
      </script>

    </div>
  </body>
</html>
