<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Mon site Poon's" %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <%= render partial: 'spree/admin/shared/header' %>
      </header>
      <div class="container">
        <section id="main">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end %>
          <%= yield %>
        </section>
      </div>
    </div>
  </body>
</html>